<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Proforma Type</h4> <button type="button" class="btn btn-outline-info">+</button>
                </div>
                <div class="card-body">
                    <p>Using a single set of grid classes, you can create a default grid system that starts out stacked on mobile devices and tablet devices (the extra small to small range) before becoming horizontal on desktop (medium) devices. Place grid columns in any</p>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="grid-col mb-4">.Col-lg-12</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-11">
                            <div class="grid-col mb-4">.Col-lg-11</div>
                        </div>
                        <div class="col-xl-1">
                            <div class="grid-col mb-4">.Col-lg-01</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-10">
                            <div class="grid-col mb-4">.Col-lg-10</div>
                        </div>
                        <div class="col-xl-2">
                            <div class="grid-col mb-4">.Col-lg-02</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-9">
                            <div class="grid-col mb-4">.Col-lg-09</div>
                        </div>
                        <div class="col-xl-3">
                            <div class="grid-col mb-4">.Col-lg-03</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-8">
                            <div class="grid-col mb-4">.Col-lg-08</div>
                        </div>
                        <div class="col-xl-4">
                            <div class="grid-col mb-4">.Col-lg-04</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-7">
                            <div class="grid-col mb-4">.Col-lg-07</div>
                        </div>
                        <div class="col-xl-5">
                            <div class="grid-col mb-4">.Col-lg-05</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6">
                            <div class="grid-col mb-4">.Col-lg-06</div>
                        </div>
                        <div class="col-xl-6">
                            <div class="grid-col mb-4">.Col-lg-06</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-5">
                            <div class="grid-col mb-4">.Col-lg-05</div>
                        </div>
                        <div class="col-xl-7">
                            <div class="grid-col mb-4">.Col-lg-07</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-4">
                            <div class="grid-col mb-4">.Col-lg-04</div>
                        </div>
                        <div class="col-xl-8">
                            <div class="grid-col mb-4">.Col-lg-08</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-3">
                            <div class="grid-col mb-4">.Col-lg-03</div>
                        </div>
                        <div class="col-xl-9">
                            <div class="grid-col mb-4">.Col-lg-09</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-2">
                            <div class="grid-col mb-4">.Col-lg-02</div>
                        </div>
                        <div class="col-xl-10">
                            <div class="grid-col mb-4">.Col-lg-10</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-1">
                            <div class="grid-col mb-4">.Col-lg-01</div>
                        </div>
                        <div class="col-xl-11">
                            <div class="grid-col mb-4">.Col-lg-11</div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
